*,
::after,
::before {
  box-sizing: border-box;
}
body {
  align-items: center;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

body img {
  border-radius: 8px;
  flex-grow: 2;
  height: auto;
  min-width: 320px;
  padding: 4px;
  width: 25%;
}